<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.samoim.dao.ClassDao">
	<select id="selectClassAll" resultType="com.kb.samoim.model.Class">
		select *
		from CLASS
		ORDER BY OPEN_DATE DESC
	</select>

	<select id="selectClass" parameterType="long" resultType="com.kb.samoim.model.Class">
		select * 
		from CLASS
		where id = #{id}
	</select>
	
	<select id="selectClassByFilter" parameterType="java.util.List" resultType="com.kb.samoim.model.Class">
		select *
		from CLASS
		where 1 = 1
		<if test="category!=null and category.size!=0">
			and LARGE_CATEGORY in
			<foreach collection="category" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="area!=null and area.size!=0">
			and ADDRESS in
			<foreach collection="area" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>

	<!--모임 개설 Query-->
	<!--현재 Open_Date는 제외-->
	<insert id="createClass" parameterType="com.kb.samoim.dto.ClassDto">
        INSERT INTO CLASS
        (ID, NAME, LARGE_CATEGORY, SMALL_CATEGORY, CITY, ADDRESS, MAX_MEMBER, OWNER_ID, OPEN_DATE, DETAIL_CONTENTS, PHOTO_PATH)
        VALUES
        (#{id},#{name},#{large_category},#{small_category},#{city},#{address},#{max_member},#{owner_id},#{open_date},#{detail_contents},#{photo_path});	
	</insert>

	<!--모임 개설할때 모임 만나는 정보도 같이 INSERT-->
	<insert id="createClassMeet" parameterType="com.kb.samoim.dto.ClassMeetDto">
		INSERT INTO CLASS_MEET
		(CLASS_ID,STATE,PRICE,DATE);
		VALUES
		(#{class_id},#{state},#{price},#{date})
	</insert>


	<!--모임 참석 완료 Query-->
	<select id="completedClass" parameterType="string" resultType="com.kb.samoim.dto.ClassCompleteDto">
		SELECT CLS.NAME, CLS.CITY, CLS.ADDRESS, USR.POINT
		FROM CLASS CLS, CLASS_JOIN CLJ, USER USR
		WHERE CLJ.USER_ID = #{email}
		AND CLJ.CLASS_ID = CLS.ID
		AND USR.EMAIL = #{email}
	</select>

	<!--내가 만든 클래스 조회-->
	<select id="getMyCreateClass" parameterType="string" resultType="map">
		SELECT CLASS.ID, CLASS.NAME, CLASS.LARGE_CATEGORY, CLASS.SMALL_CATEGORY, CLASS.CITY, CLASS.ADDRESS, CLASS.MAX_MEMBER, CLASS.DETAIL_CONTENTS, CLASS.PHOTO_PATH 
		FROM CLASS, USER
		WHERE USER.EMAIL = #{email}
		AND CLASS.OWNER_ID = #{email}
		AND USER.EMAIL = CLASS.OWNER_ID
	</select>

	<select id="presentMember" parameterType="string" resultType="boolean">
		SELECT COUNT(*)
		FROM CLASS AS CLS INNER JOIN CLASS_JOIN AS CLJ ON CLS.ID = CLJ.CLASS_ID
	</select>

	<!--날짜별 모임 참석 리스트 조회 ing-->
	<select id="selectClassByDate" parameterType="string" resultType="java.util.List" >
		SELECT CLS.NAME
		FROM CLASS_JOIN CLJ, CLASS CLS, USER USR
		WHERE CLJ.USER_ID = #{email}
		AND CLJ.CLASS_ID = CLS.ID
		AND USR.EMAIL = #{email}
		AND CLS.OPEN_DATE = #{date} 
	</select>

</mapper>
